table, tr, td{
    border: solid 1px black;
    font-family: Franklin Gothic Medium;
    font-style: italic;
}

.Largura{
    background-color: hotpink;
}

#larg1{
    width: 110px;
}

#larg2{
    width: 110px;
}

#larg3{
    width: 110px;
}

#larg4{
    width: 110px;
}

#larg5{
    width: 110px;
}

#larg6{
    width: 110px;
}

#larg7{
    width: 110px;
}

#larg8{
    width: 110px;
}

#cor{
    background-color: blue;
}

#centro{
    text-align: center;
    background-color: black;
}


#centroo{
    text-align: center;
    background-color: blue;
}

#centrooo{
    background-color: darkgray;
}